header {
  padding-top: 3rem;
  background: #ebebeb;
  position: fixed;
  height: $header-height-s;
  @if $header-height-m != $header-height-s {
    @media (min-width: $m) {
      height: $header-height-m;
    }
  }
  @if $header-height-l != $header-height-s {
    @media (min-width: $l) {
      height: $header-height-l;
    }
  }
  padding-left: $aside-width-s+$aside-left-s;
  @if $aside-width-m != $aside-width-s or $aside-left-m != $aside-left-s  {
    @media (min-width: $m) {
      padding-left: $aside-width-m+$aside-left-m;
    }
  }
  @if $aside-width-l != $aside-width-s or $aside-left-l != $aside-left-s {
    @media (min-width: $l) {
      padding-left: $aside-width-l+$aside-left-l;
    }
  }
  width: 100%;
  top: 0;
  right: 0;
  border-right: solid 1px $color-grey-light;
  z-index: 10;
}
header.edit {
  position: absolute;
}

aside > #logo {
  width: $aside-width-s;
  @if $aside-width-m != $aside-width-s {
    @media (min-width: $m) {
      width: $aside-width-m;
    }
  }
  @if $aside-width-l != $aside-width-s {
    @media (min-width: $l) {
      width: $aside-width-l;
    }
  }

  height: $header-height-s;
  @if $header-height-m != $header-height-s {
    @media (min-width: $m) {
      height: $header-height-m;
    }
  }
  @if $header-height-l != $header-height-s {
    @media (min-width: $l) {
      height: $header-height-l;
    }
  }
}

body > .container > aside {
  background: #fff;
  position: fixed;
  height: 100vh;
  width: $aside-width-s;
  @if $aside-width-m != $aside-width-s {
    @media (min-width: $m) {
      width: $aside-width-m;
    }
  }
  @if $aside-width-l != $aside-width-s {
    @media (min-width: $l) {
      width: $aside-width-l;
    }
  }
  z-index: 2;
  top: 0;
  left: $aside-left-s;
  @if $aside-left-m != $aside-left-s {
    @media (min-width: $m) {
      left: $aside-left-m;
    }
  }
  @if $aside-left-l != $aside-left-s {
    @media (min-width: $l) {
      left: $aside-left-l;
    }
  }
  border-right: solid 1px $color-grey-light;
  z-index: 15;
}

//@supports (display: grid) or (display: -ms-grid) {

body > .container > main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background: #ebebeb;
  align-self: stretch;
}

.container {
  width: 100%;
  padding-left: $aside-width-s+$aside-left-s;
  @if $aside-width-m != $aside-width-s or $aside-left-m != $aside-left-s  {
    @media (min-width: $m) {
      padding-left: $aside-width-m+$aside-left-m;
    }
  }
  @if $aside-width-l != $aside-width-s or $aside-left-l != $aside-left-s {
    @media (min-width: $l) {
      padding-left: $aside-width-l+$aside-left-l;
    }
  }

  min-height: 100vh;
  padding-top: $header-height-s;
  @if $header-height-m != $header-height-s {
    @media (min-width: $m) {
      padding-top: $header-height-m;
    }
  }
  @if $header-height-l != $header-height-s {
    @media (min-width: $l) {
      padding-top: $header-height-l;
    }
  }

  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50px;
  grid-template-areas:
          "main"
          "footer";
}

.wrapper {
  max-width: $content-max-width;
}

#activate-overlay,
#overlay {
  display: none;
}

#activate-overlay:checked ~ #overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  //filter:blur(4px);
  //-o-filter:blur(4px);
  //-ms-filter:blur(4px);
  //-moz-filter:blur(4px);
  //-webkit-filter:blur(4px);
  z-index: 99;
}

//}

//aside.edit {
//  visibility: hidden;
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  z-index: 99999;
//  background: rgba(255, 255, 255, 0.85);
//}
