//
// Anchor navigation
//
.navigation.anchor {
  $gap-navigation-anchor: $gap !default;
  $color-navigation-anchor: $color-black !default;
  $color-navigation-anchor-border: $color-black !default;

  position: absolute;
  bottom: -2px;
  width: 100%;

  a {
    display: inline-block;
    padding: $gap-navigation-anchor/6 $gap-navigation-anchor/6 $gap-navigation-anchor/6 $gap-navigation-anchor/6;
    &.active {
      border-bottom: solid 3px $color-navigation-anchor-border;
    }
  }

  a, a:focus, a:hover {
    text-decoration: none;
    color: $color-navigation-anchor;
  }

  nav {
    overflow: hidden;
    max-width: 100%;
    height: 37px;
  }

}

