//
// Main navigation
//
$layout-aside-navigation-gap-s: $gap-s !default;
$layout-aside-navigation-gap-m: $gap-m !default;
$layout-aside-navigation-gap-l: $gap-l !default;

$layout-aside-navigation-color: $color-black !default;

.navigation.aside {

  ul.navigation {

    margin: 0 0 0 $layout-aside-navigation-gap-s;
    @if $layout-aside-navigation-gap-m != $layout-aside-navigation-gap-s {
      @media (min-width: $m) {
        margin: 0 0 0 $layout-aside-navigation-gap-m;
      }
    }
    @if $layout-aside-navigation-gap-l != $layout-aside-navigation-gap-s {
      @media (min-width: $l) {
        margin: 0 0 0 $layout-aside-navigation-gap-l;
      }
    }

    li {
      margin: 0;
      padding: 0 0 $layout-aside-navigation-gap-s/6 0;
      @if $layout-aside-navigation-gap-m != $layout-aside-navigation-gap-s {
        @media (min-width: $m) {
          padding: 0 0 $layout-aside-navigation-gap-m/6 0;
        }
      }
      @if $layout-aside-navigation-gap-l != $layout-aside-navigation-gap-s {
        @media (min-width: $l) {
          padding: 0 0 $layout-aside-navigation-gap-l/6 0;
        }
      }
      &:first-child {
        padding: $layout-aside-navigation-gap-s/6 0;
        @if $layout-aside-navigation-gap-m != $layout-aside-navigation-gap-s {
          @media (min-width: $m) {
            padding: $layout-aside-navigation-gap-m/6 0;
          }
        }
        @if $layout-aside-navigation-gap-l != $layout-aside-navigation-gap-s {
          @media (min-width: $l) {
            padding: $layout-aside-navigation-gap-l/6 0;
          }
        }
      }
      &:last-child {
        padding: 0;
      }
    }

    > li:last-child {
      margin-bottom: $layout-aside-navigation-gap-s;
      @if $layout-aside-navigation-gap-m != $layout-aside-navigation-gap-s {
        @media (min-width: $m) {
          margin-bottom: $layout-aside-navigation-gap-m;
        }
      }
      @if $layout-aside-navigation-gap-l != $layout-aside-navigation-gap-s {
        @media (min-width: $l) {
          margin-bottom: $layout-aside-navigation-gap-l;
        }
      }
    }

    li > ul {
      margin: 0 0 0 10px;
      display: none;
    }

    li.active > ul {
      display: block;
    }

    a, a:focus, a:hover {
      text-decoration: none;
      color: $layout-aside-navigation-color;
    }

    li.active > a {
      font-weight: $font-weight-bold;
    }

  }
}
