p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure, figcaption,
fieldset,
legend,
textarea,
pre,
iframe,
table,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $margin-bottom-s;
  @if $margin-bottom-m != $margin-bottom-s {
    @media (min-width: $m) {
      margin-bottom: $margin-bottom-m;
    }
  }
  @if $margin-bottom-l != $margin-bottom-s {
    @media (min-width: $l) {
      margin-bottom: $margin-bottom-l;
    }
  }
}