body {

  font-family: $font-family-s-body;
  @if $font-family-m-body != $font-family-s-body {
    @media (min-width: $m) {
      font-family: $font-family-m-body;
    }
  }
  @if $font-family-l-body != $font-family-s-body {
    @media (min-width: $l) {
      font-family: $font-family-l-body;
    }
  }

  font-size: $font-size-s-body;
  @if $font-size-m-body != $font-size-s-body {
    @media (min-width: $m) {
      font-size: $font-size-m-body;
    }
  }
  @if $font-size-l-body != $font-size-s-body {
    @media (min-width: $l) {
      font-size: $font-size-l-body;
    }
  }

  font-weight: $font-weight-s-body;
  @if $font-weight-m-body != $font-weight-s-body {
    @media (min-width: $m) {
      font-weight: $font-weight-m-body;
    }
  }
  @if $font-weight-m-body != $font-weight-s-body {
    @media (min-width: $l) {
      font-weight: $font-weight-l-body;
    }
  }

  line-height: $line-height-s-body;
  @if $line-height-m-body != $line-height-s-body {
    @media (min-width: $m) {
      line-height: $line-height-m-body;
    }
  }
  @if $line-height-l-body != $line-height-s-body {
    @media (min-width: $l) {
      line-height: $line-height-l-body;
    }
  }

  //margin-bottom: $margin-bottom-s-body;
  //@if $margin-bottom-m-body != $margin-bottom-s-body {
  //  @media (min-width: $m) {
  //    margin-bottom: $margin-bottom-m-body;
  //  }
  //}
  //@if $margin-bottom-l-body != $margin-bottom-s-body {
  //  @media (min-width: $l) {
  //    line-height: $line-height-l-body;
  //  }
  //}

}