h1 {

  font-family: $font-family-s-h1;
  font-size: $font-size-s-h1;
  font-weight: $font-weight-s-h1;
  margin-bottom: $margin-bottom-s-h1;

  @media (min-width: $m) {

    font-family: $font-family-m-h1;
    font-size: $font-size-m-h1;
    font-weight: $font-weight-m-h1;
    margin-bottom: $margin-bottom-m-h1;

  }

  @media (min-width: $l) {

    font-family: $font-family-l-h1;
    font-size: $font-size-l-h1;
    font-weight: $font-weight-l-h1;
    margin-bottom: $margin-bottom-l-h1;

  }

}

h2 {

  font-family: $font-family-s-h2;
  font-size: $font-size-s-h2;
  font-weight: $font-weight-s-h2;
  margin-bottom: $margin-bottom-s-h2;

  @media (min-width: $m) {

    font-family: $font-family-m-h2;
    font-size: $font-size-m-h2;
    font-weight: $font-weight-m-h2;
    margin-bottom: $margin-bottom-m-h2;

  }

  @media (min-width: $l) {

    font-family: $font-family-l-h2;
    font-size: $font-size-l-h2;
    font-weight: $font-weight-l-h2;
    margin-bottom: $margin-bottom-l-h2;

  }

}

h3 {

  font-family: $font-family-s-h3;
  font-size: $font-size-s-h3;
  font-weight: $font-weight-s-h3;
  margin-bottom: $margin-bottom-s-h3;

  @media (min-width: $m) {

    font-family: $font-family-m-h3;
    font-size: $font-size-m-h3;
    font-weight: $font-weight-m-h3;
    margin-bottom: $margin-bottom-m-h3;

  }

  @media (min-width: $l) {

    font-family: $font-family-l-h3;
    font-size: $font-size-l-h3;
    font-weight: $font-weight-l-h3;
    margin-bottom: $margin-bottom-l-h3;

  }

}

h4 {

  font-family: $font-family-s-h4;
  font-size: $font-size-s-h4;
  font-weight: $font-weight-s-h4;
  margin-bottom: $margin-bottom-s-h4;

  @media (min-width: $m) {

    font-family: $font-family-m-h4;
    font-size: $font-size-m-h4;
    font-weight: $font-weight-m-h4;
    margin-bottom: $margin-bottom-m-h4;

  }

  @media (min-width: $l) {

    font-family: $font-family-l-h4;
    font-size: $font-size-l-h4;
    font-weight: $font-weight-l-h4;
    margin-bottom: $margin-bottom-l-h4;

  }

}

h5 {

  font-family: $font-family-s-h5;
  font-size: $font-size-s-h5;
  font-weight: $font-weight-s-h5;
  margin-bottom: $margin-bottom-s-h5;

  @media (min-width: $m) {

    font-family: $font-family-m-h5;
    font-size: $font-size-m-h5;
    font-weight: $font-weight-m-h5;
    margin-bottom: $margin-bottom-m-h5;

  }

  @media (min-width: $l) {

    font-family: $font-family-l-h5;
    font-size: $font-size-l-h5;
    font-weight: $font-weight-l-h5;
    margin-bottom: $margin-bottom-l-h5;

  }

}

h6 {

  font-family: $font-family-s-h6;
  font-size: $font-size-s-h6;
  font-weight: $font-weight-s-h6;
  margin-bottom: $margin-bottom-s-h6;

  @media (min-width: $m) {

    font-family: $font-family-m-h6;
    font-size: $font-size-m-h6;
    font-weight: $font-weight-m-h6;
    margin-bottom: $margin-bottom-m-h6;

  }

  @media (min-width: $l) {

    font-family: $font-family-l-h6;
    font-size: $font-size-l-h6;
    font-weight: $font-weight-l-h6;
    margin-bottom: $margin-bottom-l-h6;

  }

}