body > .container > footer {

  font-size: 1.2rem;
  padding-top: 1.5rem;

  nav {
    text-align: right;
  }

  nav a {
    display: inline-block;
    margin-left: $gap-s;
  }

  a, a:focus, a:visited {
    color: $color-black;
    text-decoration: none;
  }

}