$layout-aside-logo-gap-s: $gap-s !default;
$layout-aside-logo-gap-m: $gap-m !default;
$layout-aside-logo-gap-l: $gap-l !default;

body > .container > aside {
  
  #logo {
    background-position: $layout-aside-logo-gap-s center !important;
    padding: $layout-aside-logo-gap-s/2 0 $layout-aside-logo-gap-s/2 $layout-aside-logo-gap-s;
    @if $layout-aside-logo-gap-m != $layout-aside-logo-gap-s {
      @media (min-width: $m) {
        background-position: $layout-aside-logo-gap-m center !important;
        padding: $layout-aside-logo-gap-m/2 0 $layout-aside-logo-gap-m/2 $layout-aside-logo-gap-m;
      }
    }
    @if $layout-aside-logo-gap-l != $layout-aside-logo-gap-s {
      @media (min-width: $l) {
        background-position: $layout-aside-logo-gap-l center !important;
        padding: $layout-aside-logo-gap-l/2 0 $layout-aside-logo-gap-l/2 $layout-aside-logo-gap-l;
      }
    }
  }

  #logo.landscape {
    background-size: 140px auto !important;
  }

  #logo.portrait {
    background-size: auto 110px !important;
  }

}

body > .container > aside > label.openAside {
  display: block;
  @media (min-width: $m) {
    display: none;
  }
  position: absolute;
  right: 0;
  top: 0;
  width: $aside-width-s+$aside-left-s;
  height: 100vh;
  cursor: pointer;
  background: url(/bundles/kitt3npimcorelayouts/icons/openAside.png) no-repeat center center;
  background-size: 18px 18px;
}

body > .container #openAside {
  display: none;
}
body > .container #openAside:checked + aside {
  left: 0 !important;
}
body > .container #openAside:checked + aside > label.openAside {
  background: url(/bundles/kitt3npimcorelayouts/icons/closeAside.png) no-repeat center center;
  background-size: 18px 18px;
  border-right: solid 1px $color-grey-light;
}