//
// Layouts
//
$aside-width: 200px;
$header-height: 150px;
$footer-height: 80px;

//
// Base
//
$base: 10px !default;

//
// Media queries
//
$m: 768px !default;
$l: 992px !default;
$xl: 1200px !default;

$gap-s: 3rem !default;
$gap-m: 3rem !default;
$gap-l: 3rem !default;
