$font-family: 'IBM Plex Sans', sans-serif !default;

$font-weight-light: 200 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

$color-black:           hsl(0, 0%, 4%) !default;
$color-black-light:     hsl(0, 0%, 7%) !default;
$color-black-lighter:   hsl(0, 0%, 14%) !default;

$color-grey-darker:  hsl(0, 0%, 21%) !default;
$color-grey-dark:    hsl(0, 0%, 29%) !default;
$color-grey:         hsl(0, 0%, 48%) !default;
$color-grey-light:   hsl(0, 0%, 85%) !default;
$color-grey-lighter: hsl(0, 0%, 95%) !default;

$color-white-darker:  hsl(0, 0%, 96%) !default;
$color-white-dark:    hsl(0, 0%, 98%) !default;
$color-white:        hsl(0, 0%, 100%) !default;

$color-red: red !default;;

$content-max-width: 1200px !default;

//
// Gap
//
$gap: 3rem !default;
$gap-s: 3rem !default;
$gap-m: 3rem !default;
$gap-l: 3rem !default;

//
// layout header
//
$header-height-s: 150px !default;
$header-height-m: 150px !default;
$header-height-l: 150px !default;

//
// layout aside
//
$aside-width-s: 200px !default;
$aside-width-m: 200px !default;
$aside-width-l: 200px !default;

$aside-left-s: -170px !default;
$aside-left-m: 0 !default;
$aside-left-l: 0 !default;