$font-size-s-body: 1.6rem !default;
$font-size-m-body: 1.5rem !default;
$font-size-l-body: 1.4rem !default;

$font-family-s-body: $font-family !default;
$font-family-m-body: $font-family !default;
$font-family-l-body: $font-family !default;

$font-weight-s-body: $font-weight-regular !default;
$font-weight-m-body: $font-weight-regular !default;
$font-weight-l-body: $font-weight-regular !default;

$margin-bottom-s-body: $margin-bottom-s !default;
$margin-bottom-m-body: $margin-bottom-m !default;
$margin-bottom-l-body: $margin-bottom-l !default;

$line-height-s-body: 1.5 !default;
$line-height-m-body: 1.5 !default;
$line-height-l-body: 1.5 !default;