/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,700&subset=latin-ext");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%; }

audio {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

header {
  padding-top: 3rem;
  background: #ebebeb;
  position: fixed;
  height: 150px;
  padding-left: 30px;
  width: 100%;
  top: 0;
  right: 0;
  border-right: solid 1px #d9d9d9;
  z-index: 10; }
  @media (min-width: 768px) {
    header {
      padding-left: 200px; } }
  @media (min-width: 992px) {
    header {
      padding-left: 200px; } }

header.edit {
  position: absolute; }

aside > #logo {
  width: 200px;
  height: 150px; }

body > .container > aside {
  background: #fff;
  position: fixed;
  height: 100vh;
  width: 200px;
  z-index: 2;
  top: 0;
  left: -170px;
  border-right: solid 1px #d9d9d9;
  z-index: 15; }
  @media (min-width: 768px) {
    body > .container > aside {
      left: 0; } }
  @media (min-width: 992px) {
    body > .container > aside {
      left: 0; } }

body > .container > main {
  grid-area: main; }

footer {
  grid-area: footer;
  background: #ebebeb;
  align-self: stretch; }

.container {
  width: 100%;
  padding-left: 30px;
  min-height: 100vh;
  padding-top: 150px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50px;
  grid-template-areas: "main" "footer"; }
  @media (min-width: 768px) {
    .container {
      padding-left: 200px; } }
  @media (min-width: 992px) {
    .container {
      padding-left: 200px; } }

.wrapper {
  max-width: 1200px; }

#activate-overlay,
#overlay {
  display: none; }

#activate-overlay:checked ~ #overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99; }

p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure, figcaption,
fieldset,
legend,
textarea,
pre,
iframe,
table,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 3rem; }

html {
  font-size: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400; }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }
  @media (min-width: 768px) {
    body {
      font-size: 1.5rem; } }
  @media (min-width: 992px) {
    body {
      font-size: 1.4rem; } }

body > .container > aside #logo {
  background-position: 3rem center !important;
  padding: 1.5rem 0 1.5rem 3rem; }

body > .container > aside #logo.landscape {
  background-size: 140px auto !important; }

body > .container > aside #logo.portrait {
  background-size: auto 110px !important; }

body > .container > aside > label.openAside {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100vh;
  cursor: pointer;
  background: url(/bundles/kitt3npimcorelayouts/icons/openAside.png) no-repeat center center;
  background-size: 18px 18px; }
  @media (min-width: 768px) {
    body > .container > aside > label.openAside {
      display: none; } }

body > .container #openAside {
  display: none; }

body > .container #openAside:checked + aside {
  left: 0 !important; }

body > .container #openAside:checked + aside > label.openAside {
  background: url(/bundles/kitt3npimcorelayouts/icons/closeAside.png) no-repeat center center;
  background-size: 18px 18px;
  border-right: solid 1px #d9d9d9; }

body > .container > footer {
  font-size: 1.2rem;
  padding-top: 1.5rem; }
  body > .container > footer nav {
    text-align: right; }
  body > .container > footer nav a {
    display: inline-block;
    margin-left: 3rem; }
  body > .container > footer a, body > .container > footer a:focus, body > .container > footer a:visited {
    color: #0a0a0a;
    text-decoration: none; }

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h1 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 4.2rem;
      font-weight: 700;
      margin-bottom: 2rem; } }
  @media (min-width: 992px) {
    h1 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 4.2rem;
      font-weight: 700;
      margin-bottom: 2rem; } }

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h2 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 2rem; } }
  @media (min-width: 992px) {
    h2 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 2rem; } }

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h3 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 2rem; } }
  @media (min-width: 992px) {
    h3 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 2rem; } }

h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h4 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem; } }
  @media (min-width: 992px) {
    h4 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem; } }

h5 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h5 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem; } }
  @media (min-width: 992px) {
    h5 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem; } }

h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h6 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem; } }
  @media (min-width: 992px) {
    h6 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem; } }

table {
  width: 100%; }
  table th, table td {
    border-bottom: solid 1px #f2f2f2;
    padding: 2px 10px 2px 0; }

.element--form {
  /* Jiro */ }
  .element--form .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em 0;
    max-width: 100%;
    width: 100%;
    vertical-align: top; }
  .element--form .input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: white;
    color: #242424;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */ }
  .element--form .input__field:focus {
    outline: none; }
  .element--form .input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #0a0a0a;
    font-weight: bold;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .element--form .input__label-content {
    position: relative;
    display: block;
    padding: 1rem 0;
    width: 100%; }
  .element--form .graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none; }
  .element--form .icon {
    color: #ddd;
    font-size: 150%; }
  .element--form .input--jiro {
    margin-top: 2em; }
  .element--form .input__field--jiro {
    padding: 0.85em 0.5em;
    width: 100%;
    background: transparent;
    color: #242424;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .element--form .input__label--jiro {
    position: absolute;
    left: 0;
    padding: 0 0.85em;
    width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none; }
  .element--form .input__label-content--jiro {
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s; }
  .element--form .input__label--jiro::before,
  .element--form .input__label--jiro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  .element--form .input__label--jiro::before {
    border-top: 2px solid #242424;
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .element--form .input__label--jiro::after {
    z-index: -1;
    background: #6a7989;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%; }
  .element--form .input__field--jiro:focus,
  .element--form .input--filled .input__field--jiro {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .element--form .input__field--jiro:focus + .input__label--jiro .input__label-content--jiro,
  .element--form .input--filled .input__label-content--jiro {
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .element--form .input__field--jiro:focus + .input__label--jiro::before,
  .element--form .input--filled .input__label--jiro::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .element--form .input__field--jiro:focus + .input__label--jiro::before,
  .element--form .input--filled .input__label--jiro::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .element--form .input__field--jiro:focus + .input__label--jiro::after,
  .element--form .input--filled .input__label--jiro::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .element--form button#_submit, .element--form a.logout {
    font-weight: 700;
    background: transparent;
    border: solid 2px #242424;
    padding: 0.5rem 3rem;
    position: relative;
    border-radius: 20px; }
  .element--form form {
    border: solid 1px #d9d9d9;
    padding: 1rem 2rem 2rem 2rem;
    margin: 3rem 0; }

.navigation.aside ul.navigation {
  margin: 0 0 0 3rem; }
  .navigation.aside ul.navigation li {
    margin: 0;
    padding: 0 0 0.5rem 0; }
    .navigation.aside ul.navigation li:first-child {
      padding: 0.5rem 0; }
    .navigation.aside ul.navigation li:last-child {
      padding: 0; }
  .navigation.aside ul.navigation > li:last-child {
    margin-bottom: 3rem; }
  .navigation.aside ul.navigation li > ul {
    margin: 0 0 0 10px;
    display: none; }
  .navigation.aside ul.navigation li.active > ul {
    display: block; }
  .navigation.aside ul.navigation a, .navigation.aside ul.navigation a:focus, .navigation.aside ul.navigation a:hover {
    text-decoration: none;
    color: #0a0a0a; }
  .navigation.aside ul.navigation li.active > a {
    font-weight: 700; }

.navigation.anchor {
  position: absolute;
  bottom: -2px;
  width: 100%; }
  .navigation.anchor a {
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; }
    .navigation.anchor a.active {
      border-bottom: solid 3px #0a0a0a; }
  .navigation.anchor a, .navigation.anchor a:focus, .navigation.anchor a:hover {
    text-decoration: none;
    color: #0a0a0a; }
  .navigation.anchor nav {
    overflow: hidden;
    max-width: 100%;
    height: 37px; }
